extends layout

append head
  style
    :stylus

      section
        display inline-block
        margin-top 20px
        width 100%
        > div
          margin-left 20px
          border-left 1px solid #ccc
          padding-left 20px
          width 200px
          float left
          text-align center
          &:first-child
            border none

append body
  .container
    include ../node_modules/shoelace-ui-button/test/test.jade