/**
 * Module dependencies
 */
body {
  margin: 50px 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.topnav {
  position: fixed;
  top: 0;
  background: #002b36;
  width: 100%;
  z-index: 1;
}
.topnav a {
  display: inline-block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
