/**
 * Module dependencies
 */

@require '../node_modules/shoelace-ui-palette-solarized'

body
  margin 50px 0 0

.topnav
  position fixed
  top 0
  background lookup('palette--gray-darkest')
  width 100%
  z-index 1

  a
    display inline-block
    color white
    padding 10px
    text-decoration none
