/**
 * Initialize empty list
 */

aglet--requires = ()

/**
 * Look to see if `req` is false, otherwise append to
 * list of requires.
 * @param {String} req
 */

aglet--require(req)
  if (lookup('aglet--require-' + req)) isnt false
    append(aglet--requires, req)

// variables
aglet--require('palette-solarized')
aglet--require('colors')

// transparent mixins
aglet--require('line-height')
aglet--require('font-family')
aglet--require('font-size')
aglet--require('font')
aglet--require('padding')
aglet--require('clear')
aglet--require('filter')
aglet--require('transition-duration')
aglet--require('transition-property')
aglet--require('transition')
aglet--require('user-select')

// opaque mixins
aglet--require('center-block')
aglet--require('positions')
aglet--require('reset')
aglet--require('size')

// tag styles
aglet--require('html')
aglet--require('body')
aglet--require('a')
aglet--require('p')
aglet--require('headings')
aglet--require('hr')
aglet--require('button')
aglet--require('lists')
aglet--require('select')
aglet--require('textarea')
aglet--require('label')
aglet--require('legend')
aglet--require('input')

// helper styles
aglet--require('container')
aglet--require('hero')
aglet--require('badge')

// misc
aglet--require('media-queries')

for req in aglet--requires
  @require '../node_modules/shoelace-ui-' + req
